
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

#container {
    position: relative;
    height: 600px;

    #weatherWrap {
        height: 500px;
        width: 800px;
        border: 2px solid black;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #5C85FF;

        #opener {
            text-align: center;
        }

        #opener h1 {
            font-family: 'Stardos Stencil', cursive;
            color: #FFFFF9;
            text-shadow: 10px 10px 20px #000000;
        }
    }
}


button {
    background-color: #5C85FF;
    color: #FFFFF9;
}

#wheelWrapper {
    border: 2px solid blue;
    border-radius: 10px;
    height: 350px;
    width: 800px;
    position: relative;
    margin-top: 1rem;
}

#wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i {
    font-size: 75px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 37.5px;
    left: 50%;
    transform: translate(-50%,-50%);

}
// ===========Current View========
#hourly {
    text-align: center;
}







